default_language_version:
    python: python3.11
repos:
    - hooks:
        - id: check-json
        - id: check-merge-conflict
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-yaml
          exclude: examples/
        - id: check-added-large-files
        - id: pretty-format-json
          args:
            - --autofix
        - id: detect-aws-credentials
        - id: detect-private-key
      repo: https://github.com/pre-commit/pre-commit-hooks
      rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c
    - hooks:
        - id: forbid-tabs
          exclude: binary|\.bin$|rego|\.rego$|go|\.go$
          exclude_types:
            - python
            - javascript
            - dtd
            - markdown
            - makefile
            - xml
      repo: https://github.com/Lucas-C/pre-commit-hooks
      rev: a30f0d816e5062a67d87c8de753cfe499672b959
    - hooks:
        - id: shell-lint
      repo: https://github.com/jameswoolfenden/pre-commit-shell
      rev: 062f0b028ae65827e04f91c1e6738cfcbe9b337f
    - hooks:
        - id: markdownlint
          exclude: src/testdata|testdata
      repo: https://github.com/igorshubovych/markdownlint-cli
      rev: c8fd5003603dd6f12447314ecd935ba87c09aff5
    - hooks:
        - id: terraform-fmt
          language_version: python3.11
      repo: https://github.com/jameswoolfenden/pre-commit
      rev: ba5c36a3150a4184f9ee362a5cf11611ee9ae185
    - hooks:
        - id: gofmt
        - id: goimports
      repo: https://github.com/gruntwork-io/pre-commit
      rev: 59fd8610ae21aaf8234f1ef17d43c3ccdee84d16
    - hooks:
        - id: go-test
          args:
            - ./...
        - id: go-mod-tidy
        - id: go-generate
      repo: https://github.com/syntaqx/git-hooks
      rev: a3b888f92cd5b40b270c9a9752181fdc1717cbe5
    - hooks:
        - id: golangci-lint
      repo: https://github.com/golangci/golangci-lint
      rev: 8c14421d29bd005dee63044d07aa897b7d1bf8b0
    - hooks:
        - id: checkov
          language_version: python3.11
          args:
            - -d
            - .
      repo: https://github.com/bridgecrewio/checkov
      rev: 3.2.408
    - hooks:
        - id: ghat-go
          name: ghat
          entry: ghat swot -d . --continue-on-error true
          language: golang
          types:
            - yaml
          always_run: true
          description: upgrade action dependencies
        - id: ghat-go-sift
          name: sift
          entry: ghat sift -d .
          language: golang
          types:
            - yaml
          always_run: true
          description: upgrade action dependencies
      repo: local
    - hooks:
        - id: validate-toml
        - id: no-go-testing
        - id: go-mod-tidy
      repo: https://github.com/dnephin/pre-commit-golang
      rev: fb24a639f7c938759fe56eeebbb7713b69d60494
